# PostgreSQL
POSTGRES_USER=gitanalytics
POSTGRES_PASSWORD=
POSTGRES_DB=gitanalytics_db

# node-service
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
REDIS_URL=redis://redis:6379
JWT_SECRET=
JWT_REFRESH_SECRET=
GITHUB_TOKEN=
PYTHON_SERVICE_URL=http://python-service:8000
PYTHON_SERVICE_TIMEOUT_MS=5000
NODE_ENV=production
PORT=3000
CORS_ORIGIN=http://localhost

# python-service
PYTHON_PORT=8000
PYTHON_ENV=production
LOG_LEVEL=info

# frontend (passado como build arg no docker compose)
VITE_API_BASE_URL=http://localhost/api/v1
